# Data

In [1]:
# Data manipulation libs #
import numpy as np
import pandas as pd

In [2]:
# visulization libs #
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# stack_overflow_18 = pd.read_csv("survey_results_public.csv")
# stack_overflow_18.head()

In [4]:
# # List of columns we are interested in for salary analysis #
# salaries_cols = ["Country","Student","Employment","FormalEducation","UndergradMajor","CompanySize","DevType","YearsCoding","YearsCodingProf","EducationTypes","SelfTaughtTypes","LanguageWorkedWith","Salary","LanguageDesireNextYear","FrameworkWorkedWith","FrameworkDesireNextYear","OperatingSystem","Age","ConvertedSalary"]

In [5]:
# salaries = stack_overflow_18[salaries_cols]
# salaries.head()

In [6]:
# salaries.info()

In [7]:
# salaries.loc[0:15,:]

In [8]:
# # entries for test set #
# test_rand = np.random.randint(0,98854,200)
# test_rand

In [9]:
# # entries for train set #
# train_rand = np.random.randint(0,98854,200)
# train_rand

In [10]:
# train_rand/test_rand

In [11]:
# salaries_test = salaries.loc[test_rand,:]
# salaries_test.head()

In [12]:
# salaries_train = salaries.loc[train_rand,:]
# salaries_train.head()

In [13]:
# # saving the dataframe #
# salaries_test.to_csv('salaries_test.csv')
# salaries_train.to_csv('salaries_train.csv')

In [14]:
# uploading train dataframe #
salaries_train = pd.read_csv("salaries_train.csv")

In [15]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed part-time,Primary/elementary school,NaN,100 to 499 employees,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [16]:
salaries_train.reset_index(inplace=True)

In [17]:
salaries_train.head()

,index,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,...,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,0,17522,Greece,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Data or business analyst;Da...,3-5 years,...,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,1,83134,Nepal,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,...,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,2,858,Bangladesh,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Desktop or enterprise appli...,6-8 years,...,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,3,53284,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Designer;Student,3-5 years,...,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,4,37884,Czech Republic,No,Employed part-time,Primary/elementary school,NaN,100 to 499 employees,Back-end developer;Desktop or enterprise appli...,3-5 years,...,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [18]:
# Remove index col #
salaries_train.drop(["index"],axis=1,inplace=True)

In [19]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed part-time,Primary/elementary school,NaN,100 to 499 employees,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

**Dealing with Country col**

In [20]:
salaries_train.columns

Index(['Unnamed: 0', 'Country', 'Student', 'Employment', 'FormalEducation',
       'UndergradMajor', 'CompanySize', 'DevType', 'YearsCoding',
       'YearsCodingProf', 'EducationTypes', 'SelfTaughtTypes',
       'LanguageWorkedWith', 'Salary', 'LanguageDesireNextYear',
       'FrameworkWorkedWith', 'FrameworkDesireNextYear', 'OperatingSystem',
       'Age', 'ConvertedSalary'],
      dtype='object')

In [21]:
salaries_train["Country"].unique()

array(['Greece', 'Nepal', 'Bangladesh', 'India', 'Czech Republic',
       'Austria', 'Pakistan', 'United States', 'Germany', 'Australia',
       'United Kingdom', 'Brazil', 'Bolivia', 'Indonesia', 'Switzerland',
       'Poland', 'Sri Lanka', 'Canada', 'Sweden', 'Belarus', 'Bulgaria',
       'Spain', 'France', 'Netherlands', 'Ghana', 'Russian Federation',
       'Denmark', 'Mexico', 'Uruguay', 'Cuba', 'Luxembourg', 'Egypt',
       'Italy', 'Hungary', 'Malaysia', 'Kuwait', 'Viet Nam', 'Turkey',
       'Iran, Islamic Republic of...', 'Ireland', 'Colombia', 'Serbia',
       'Jordan', 'Ukraine', 'Slovenia', 'Philippines', 'Portugal',
       'Argentina', 'South Africa', 'Finland', 'Belgium', 'Iceland',
       'Singapore', 'New Zealand', 'Romania', 'China'], dtype=object)

In [22]:
len(salaries_train["Country"].unique())

56

**Dealing with the student col**

In [23]:
salaries_train["Student"].unique()

array(['No', 'Yes, full-time', 'Yes, part-time', nan], dtype=object)

replacing:
- "Yes, full-time" --> "Yes"
- "Yes, part-time" --> "Yes"
- "nan" --> "No

In [24]:
salaries_train["Student"].replace("Yes, full-time","Yes",inplace=True)
salaries_train["Student"].replace("Yes, part-time","Yes",inplace=True)
salaries_train["Student"].replace(np.nan,"No",inplace=True)

In [25]:
# Show the distinct col values #
salaries_train["Student"].unique()

array(['No', 'Yes'], dtype=object)

**Dealing with the Employment col**

In [26]:
salaries_train["Employment"].unique()

array(['Employed full-time', 'Not employed, but looking for work',
       'Employed part-time', 'Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed', nan],
      dtype=object)

replace
- 'Employed full-time' --> Employed
- 'Employed part-time' --> Employed
- 'Independent contractor, freelancer, or self-employed' --> Employed
- 'Not employed, but looking for work' --> Not_employed
- 'Not employed, and not looking for work' --> Not_employed
- nan --> Not_employed

In [27]:
salaries_train["Employment"].replace(['Employed full-time','Employed part-time','Independent contractor, freelancer, or self-employed'],"Employed",inplace=True)
salaries_train["Employment"].replace(['Not employed, but looking for work','Not employed, and not looking for work',np.nan],"Not_employed",inplace=True)

In [28]:
salaries_train["Employment"].unique()

array(['Employed', 'Not_employed'], dtype=object)

**Dealing with the FormalEducation col**

In [29]:
salaries_train["FormalEducation"].unique()

array(['Bachelor’s degree (BA, BS, B.Eng., etc.)',
       'Master’s degree (MA, MS, M.Eng., MBA, etc.)',
       'Primary/elementary school',
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       nan, 'Some college/university study without earning a degree',
       'Associate degree', 'Professional degree (JD, MD, etc.)',
       'Other doctoral degree (Ph.D, Ed.D., etc.)'], dtype=object)

we categorize the education into level:
- High --> 'Master’s degree (MA, MS, M.Eng., MBA, etc.)','Other doctoral degree (Ph.D, Ed.D., etc.)'
- Medium --> 'Bachelor’s degree (BA, BS, B.Eng., etc.)','Some college/university study without earning a degree','Associate degree', 'Professional degree (JD, MD, etc.)'
- low --> 'Primary/elementary school','Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',nan

In [30]:
salaries_train["FormalEducation"].replace(['Master’s degree (MA, MS, M.Eng., MBA, etc.)','Other doctoral degree (Ph.D, Ed.D., etc.)'],"High",inplace=True)
salaries_train["FormalEducation"].replace(['Bachelor’s degree (BA, BS, B.Eng., etc.)','Some college/university study without earning a degree','Associate degree', 'Professional degree (JD, MD, etc.)'],"Medium",inplace=True)
salaries_train["FormalEducation"].replace(['Primary/elementary school','Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',np.nan],"Low",inplace=True)

In [31]:
salaries_train["FormalEducation"].unique()

array(['Medium', 'High', 'Low'], dtype=object)

**Dealing with UndergradMajor col**

In [32]:
salaries_train["UndergradMajor"].unique()

array(['Computer science, computer engineering, or software engineering',
       'Web development or web design', nan,
       'Information systems, information technology, or system administration',
       'Another engineering discipline (ex. civil, electrical, mechanical)',
       'A natural science (ex. biology, chemistry, physics)',
       'A business discipline (ex. accounting, finance, marketing)',
       'A health science (ex. nursing, pharmacy, radiology)',
       'Mathematics or statistics',
       'A humanities discipline (ex. literature, history, philosophy)',
       'I never declared a major',
       'A social science (ex. anthropology, psychology, political science)'],
      dtype=object)

In [33]:
salaries_train.loc[0,"UndergradMajor"]

'Computer science, computer engineering, or software engineering'

In [34]:
# show when the UnndergradMajor and FormalEducation is Low(i.e. no college degree) 
salaries_train[["FormalEducation","UndergradMajor"]][salaries_train["FormalEducation"] == "Low"]

    FormalEducation UndergradMajor
4               Low            NaN
6               Low            NaN
11              Low            NaN
14              Low            NaN
18              Low            NaN
29              Low            NaN
36              Low            NaN
38              Low            NaN
46              Low            NaN
54              Low            NaN
63              Low            NaN
71              Low            NaN
72              Low            NaN
79              Low            NaN
87              Low            NaN
88              Low            NaN
92              Low            NaN
97              Low            NaN
98              Low            NaN
115             Low            NaN
116             Low            NaN
117             Low            NaN
133             Low            NaN
146             Low            NaN
148             Low            NaN
156             Low            NaN
162             Low            NaN
163             Low            NaN
168             Low            NaN
175             Low            NaN
176             Low            NaN
186             Low            NaN
189             Low            NaN
199             Low            NaN

In [35]:
# Replace the null values will 0 #

**Dealing with CompanySize col**

In [36]:
salaries_train[["Employment","CompanySize"]]

       Employment              CompanySize
0        Employed  Fewer than 10 employees
1    Not_employed                      NaN
2        Employed       10 to 19 employees
3        Employed  Fewer than 10 employees
4        Employed     100 to 499 employees
..            ...                      ...
195      Employed     100 to 499 employees
196      Employed                      NaN
197      Employed       20 to 99 employees
198      Employed     100 to 499 employees
199  Not_employed                      NaN

[200 rows x 2 columns]

In [37]:
salaries_train[salaries_train["Employment"] == "Not_employed"]

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
6,84157,Pakistan,No,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Taken an online course in programming or softw...,NaN,Java;Python;HTML;CSS,NaN,Assembly;C#;Java;JavaScript;Perl;Python;Ruby;H...,NaN,Django;Node.js;React;Torch/PyTorch,Windows,Under 18 years old,NaN
16,85790,Pakistan,No,Not_employed,Medium,"A business discipline (ex. accounting, finance...",NaN,"Back-end developer;C-suite executive (CEO, CTO...",3-5 years,3-5 years,Taken an online course in programming or softw...,Questions & answers on Stack Overflow;Online d...,Lua;Python;SQL;HTML;CSS;Bash/Shell,NaN,Python;HTML;CSS,Django,Django;TensorFlow,Linux-based,35 - 44 years old,NaN
18,83540,Indonesia,Yes,Not_employed,Low,NaN,NaN,"Back-end developer;C-suite executive (CEO, CTO...",3-5 years,30 or more years,NaN,NaN,Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;...,08217000063,Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;...,Angular;.NET Core;Django;Hadoop;Node.js;React;...,Angular;.NET Core;Django;Hadoop;Node.js;React;...,NaN,35 - 44 years old,1000000.0
20,88759,India,Yes,Not_employed,Medium,"Another engineering discipline (ex. civil, ele...",NaN,Student,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,90487,Bangladesh,No,Not_employed,Medium,Web development or web design,NaN,Back-end developer,0-2 years,NaN,Participated in a hackathon,NaN,Assembly;JavaScript;PHP;HTML;CSS,NaN,PHP,NaN,NaN,NaN,NaN,NaN
32,81275,Sri Lanka,Yes,Not_employed,Medium,Web development or web design,NaN,Designer;Front-end developer;Student,0-2 years,0-2 years,Taken an online course in programming or softw...,NaN,JavaScript;HTML;CSS,250,JavaScript;HTML;CSS,Angular,Angular,Windows,18 - 24 years old,3000.0
38,94719,Netherlands,No,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,84805,Netherlands,Yes,Not_employed,Medium,Web development or web design,NaN,Back-end developer;Front-end developer;Marketi...,3-5 years,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,83779,United States,No,Not_employed,Medium,"A humanities discipline (ex. literature, histo...",NaN,Front-end developer;Full-stack developer;Student,0-2 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,JavaScript;SQL;HTML;CSS,0,Java;JavaScript;PHP;Python;Scala;SQL;HTML;CSS;...,Angular;Node.js;React,Node.js;React,MacOS,18 - 24 years old,0.0
58,92415,Egypt,No,Not_employed,Medium,Web development or web design,NaN,Back-end developer;Designer;Full-stack develop...,0-2 years,NaN,NaN,NaN,HTML;CSS,NaN,JavaScript;PHP;Python;HTML;CSS,NaN,Angular;Django;Node.js;React,Windows,NaN,NaN
62,91360,India,No,Not_employed,Medium,NaN,NaN,NaN,0-2 years,NaN,NaN,NaN,NaN,NaN,C;C#;JavaScript;SQL;HTML,NaN,Angular;.NET Core,Windows,NaN,NaN
63,82394,Russian Federation,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,NaN,NaN,C#;Go;JavaScript,.NET Core,.NET Core,Windows,18 - 24 years old,NaN
66,89600,India,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Student,3-5 years,NaN,Taken an online course in programming or softw...,NaN,C;C++;JavaScript;HTML;CSS;Bash/Shell,NaN,CoffeeScript;JavaScript;Python;HTML;CSS;Bash/S...,NaN,Angular;Node.js;React,Linux-based,18 - 24 years old,NaN
71,85722,France,No,Not_employed,Low,NaN,NaN,Front-end developer;Student;System administrator,0-2 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Haskell;JavaScript;Rust;HTML;CSS;Bash/Shell,NaN,Assembly;C;Kotlin,Node.js,React;TensorFlow;Torch/PyTorch,Linux-based,Under 18 years old,NaN
79,98566,Viet Nam,No,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,83356,United States,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Educator or academic researcher;Front-end deve...,6-8 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C++;C#;Java;JavaScript;Python;SQL;HTML;CSS,NaN,C++;Java;Python,React,React,Windows,18 - 24 years old,NaN
92,89483,Germany,Yes,Not_employed,Low,NaN,NaN,Student,3-5 years,NaN,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C++;Java;JavaScript;PHP;Python,NaN,C;C++;Go,NaN,NaN,Linux-based,18 - 24 years old,NaN
97,83373,Colombia,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,0-2 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Java;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/S...,NaN,Assembly;C;C++;Go;Kotlin,Django;Node.js;React,Angular;Django;Node.js;React,Windows,Under 18 years old,NaN
114,92735,Philippines,No,Not_employed,Medium,"Information systems, information technology, o...",NaN,Back-end developer;DevOps specialist;Full-stac...,6-8 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,85237,India,Yes,Not_employed,Medium,Web development or web design,NaN,DevOps specialist;Full-stack developer,0-2 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C;C++;HTML;CSS;Bash/Shell,NaN,C++;JavaScript;HTML;CSS;Bash/Shell,NaN,Angular;Django;Node.js;React,Linux-based,18 - 24 years old,NaN
125,88633,United States,No,Not_employed,Medium,"A social science (ex. anthropology, psychology...",NaN,Marketing or sales professional,0-2 years,NaN,Taken an online course in programming or softw...,A college/university computer science or softw...,HTML;CSS,35000,JavaScript;Python;SQL;HTML;CSS,NaN,.NET Core;Django;Node.js;React,Windows,25 - 34 years old,35000.0
131,93561,India,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,NaN,3-5 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,86294,India,Yes,Not_employed,Low,NaN,NaN,Front-end developer;Student,0-2 years,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,80483,United States,No,Not_employed,Low,NaN,NaN,Game or graphics developer;Student,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,Python,NaN,Python,NaN,NaN,MacOS,Under 18 years old,NaN
149,82638,United States,Yes,Not_employed,Medium,"A natural science (ex. biology, chemistry, phy...",NaN,Back-end developer;Designer;Front-end develope...,3-5 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Assembly;C++;Groovy;Java;JavaScript;Python;SQL...,NaN,C#;Groovy;JavaScript;Python;SQL;TypeScript;HTML,Angular;Node.js,Angular;Django;Node.js;Spring,Windows,18 - 24 years old,NaN
156,94604,Belgium,No,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,93395,France,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Data scientist or machine learning specialist;...,6-8 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,95055,Jordan,Yes,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,95948,India,No,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,91167,Philippines,Yes,Not_employed,Medium,Web development or web design,NaN,Back-end developer;Data or business analyst;Da...,3-5 years,NaN,NaN,NaN,C;JavaScript;PHP;Python;HTML;CSS,NaN,C++;C#;Java;R;VB.NET;Visual Basic 6,NaN,NaN,NaN,NaN,NaN
175,84640,Singapore,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Database administrator;Student,3-5 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C++;JavaScript;Objective-C;PHP;SQL;Swift;HTML;CSS,NaN,Java;Ruby,NaN,Node.js,MacOS,Under 18 years old,NaN
176,85062,New Zealand,No,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,0-2 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C++;C#;Go;Java;JavaScript;Lua;Objective-C;Python,NaN,Assembly;C++;CoffeeScript;Clojure;Go;JavaScrip...,Node.js,Node.js;React;Xamarin;TensorFlow,Windows,Under 18 years old,NaN
183,85191,United States,No,Not_employed,High,"A natural science (ex. biology, chemistry, phy...",NaN,Data or business analyst;Data scientist or mac...,24-26 years,24-26 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,JavaScript;Python;Scala;SQL,NaN,JavaScript;Python;Scala;SQL,Django;Hadoop;Node.js;React;Spark,Django;Node.js;React;Spark;TensorFlow,Linux-based,55 - 64 years old,NaN
185,91196,China,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Data scientist or machine learning specialist;...,3-5 years,NaN,NaN,NaN,C;C++;JavaScript;Matlab;Python;HTML;CSS;Bash/S...,NaN,C;C++;Matlab;Python,Node.js;TensorFlow,TensorFlow;Torch/PyTorch,Linux-based,NaN,NaN
186,89245,India,No,Not_employed,Low,NaN,NaN,Student,0-2 years,NaN,Taken an online course in programming or softw...,The official documentation and/or standards fo...,NaN,NaN,Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;...,NaN,NaN,Windows,Under 18 years old,NaN
194,80790,United States,No,Not_employed,High,"Computer science, computer engineering, or sof...",NaN,Back-end developer;Desktop or enterprise appli...,30 or more years,27-29 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,JavaScript;Python;HTML;CSS;Bash/Shell,0,Go;Haskell;JavaScript;Rust;TypeScript;Kotlin;O...,Node.js;React,Node.js;React;TensorFlow,Windows,45 - 54 years old,0.0
199,87040,Netherlands,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Data scientist or machine l...,6-8 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C#;PHP;SQL,NaN,C#;Haskell;Python;Bash/Shell,NaN,NaN,Windows,18 - 24 years old,NaN

The idea is:

if salaries_train["Employment"] == "Not_employed" --> salaries_train["CompanySize"] == np.nan:
    
    then set salaries_train["CompanySize"] --> 0

In [38]:
# To be updated later #
# salaries_train[salaries_train["Employment"] == "Not_employed"][["CompanySize"]].replace(np.nan,0,inplace=True)

In [39]:
salaries_train["CompanySize"].unique()

array(['Fewer than 10 employees', nan, '10 to 19 employees',
       '100 to 499 employees', '20 to 99 employees',
       '500 to 999 employees', '1,000 to 4,999 employees',
       '5,000 to 9,999 employees', '10,000 or more employees'],
      dtype=object)

categorize by average:

- 'Fewer than 10 employees' --> 10
- '10 to 19 employees' --> 15
- '20 to 99 employees' --> 60
- '100 to 499 employees' --> 300
- '500 to 999 employees' --> 750
- '1,000 to 4,999 employees' --> 3000
- '5,000 to 9,999 employees' --> 7500
- '10,000 or more employees' --> 10000

In [40]:
salaries_train["CompanySize"].replace('Fewer than 10 employees',10,inplace=True)
salaries_train["CompanySize"].replace('10 to 19 employees',15,inplace=True)
salaries_train["CompanySize"].replace('20 to 99 employees',60,inplace=True)
salaries_train["CompanySize"].replace('100 to 499 employees',300,inplace=True)
salaries_train["CompanySize"].replace('500 to 999 employees',750,inplace=True)
salaries_train["CompanySize"].replace('1,000 to 4,999 employees',3000,inplace=True)
salaries_train["CompanySize"].replace('5,000 to 9,999 employees',7500,inplace=True)
salaries_train["CompanySize"].replace('10,000 or more employees',10000,inplace=True)

In [41]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed,Low,NaN,300.0,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [42]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               200 non-null    int64
 1   Country                  200 non-null    object
 2   Student                  200 non-null    object
 3   Employment               200 non-null    object
 4   FormalEducation          200 non-null    object
 5   UndergradMajor           161 non-null    object
 6   CompanySize              136 non-null    float64
 7   DevType                  187 non-null    object
 8   YearsCoding              192 non-null    object
 9   YearsCodingProf          153 non-null    object
 10  EducationTypes           142 non-null    object
 11  SelfTaughtTypes          122 non-null    object
 12  LanguageWorkedWith       162 non-null    object
 13  Salary                   95 non-null     object
 14  LanguageDesireNextYear   150 non-null    object
 15  FrameworkWorkedWith      116 non-null    object
 16  FrameworkDesireNextYear  125 non-null    object
 17  OperatingSystem          161 non-null    object
 18  Age                      137 non-null    object
 19  ConvertedSalary          89 non-null     float64
dtypes: float64(2), int64(1), object(17)
memory usage: 31.4+ KB

In [43]:
# will deal with the null  #

**Dealing with the DevType col**

In [44]:
len(salaries_train["DevType"].unique())

122

In [45]:
salaries_train[["DevType"]]

                                               DevType
0    Back-end developer;Data or business analyst;Da...
1             Front-end developer;Full-stack developer
2    Back-end developer;Desktop or enterprise appli...
3                  Back-end developer;Designer;Student
4    Back-end developer;Desktop or enterprise appli...
..                                                 ...
195  Back-end developer;Desktop or enterprise appli...
196  Back-end developer;Designer;Engineering manage...
197  Back-end developer;Front-end developer;Full-st...
198                       Designer;Front-end developer
199  Back-end developer;Data scientist or machine l...

[200 rows x 1 columns]

In [46]:
# schema shows us what question each individual choose #
schema = pd.read_csv("survey_results_schema.csv")
schema

            Column                                       QuestionText
0       Respondent  Randomized respondent ID number (not in order ...
1            Hobby                            Do you code as a hobby?
2       OpenSource         Do you contribute to open source projects?
3          Country          In which country do you currently reside?
4          Student  Are you currently enrolled in a formal, degree...
..             ...                                                ...
124            Age  What is your age? If you prefer not to answer,...
125     Dependents  Do you have any children or other dependents t...
126     MilitaryUS  Are you currently serving or have you ever ser...
127  SurveyTooLong  How do you feel about the length of the survey...
128     SurveyEasy  How easy or difficult was this survey to compl...

[129 rows x 2 columns]

In [47]:
schema.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Column        129 non-null    object
 1   QuestionText  129 non-null    object
dtypes: object(2)
memory usage: 2.1+ KB

In [48]:
schema[schema["Column"] == "DevType"]

    Column                                       QuestionText
9  DevType  Which of the following describe you? Please se...

In [49]:
schema.loc[9,"QuestionText"]

'Which of the following describe you? Please select all that apply.'

In [50]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed,Low,NaN,300.0,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [51]:
salaries_train["DevType"].head()

0    Back-end developer;Data or business analyst;Da...
1             Front-end developer;Full-stack developer
2    Back-end developer;Desktop or enterprise appli...
3                  Back-end developer;Designer;Student
4    Back-end developer;Desktop or enterprise appli...
Name: DevType, dtype: object

In [52]:
type(salaries_train["DevType"])

pandas.core.series.Series

In [53]:
# split a pandas Series into an array via (";") 
salaries_train["DevType"] = salaries_train["DevType"].str.split(";")

In [54]:
salaries_train["DevType"].head()

0    [Back-end developer, Data or business analyst,...
1          [Front-end developer, Full-stack developer]
2    [Back-end developer, Desktop or enterprise app...
3              [Back-end developer, Designer, Student]
4    [Back-end developer, Desktop or enterprise app...
Name: DevType, dtype: object

In [55]:
salaries_train["DevType"][0]

['Back-end developer',
 'Data or business analyst',
 'Data scientist or machine learning specialist',
 'Database administrator',
 'Educator or academic researcher']

In [56]:
# for each individuall select the first option as dev type #
salaries_train["DevType"] = salaries_train["DevType"].str[0]

In [57]:
salaries_train["DevType"].value_counts()

Back-end developer                               109
Full-stack developer                              18
Front-end developer                               11
Mobile developer                                   6
Designer                                           6
Data scientist or machine learning specialist      5
Student                                            5
Data or business analyst                           5
Desktop or enterprise applications developer       4
DevOps specialist                                  3
Database administrator                             3
Educator or academic researcher                    3
Game or graphics developer                         2
Embedded applications or devices developer         2
System administrator                               2
C-suite executive (CEO, CTO, etc.)                 1
QA or test developer                               1
Marketing or sales professional                    1
Name: DevType, dtype: int64

In [58]:
# We may need to later on add the first two DevType options since the data seems to be squeewed towards Back End Developers #

**Dealing with YearsCodingProf col**

In [59]:
salaries_train["YearsCodingProf"].unique()

array(['0-2 years', '6-8 years', nan, '3-5 years', '9-11 years',
       '27-29 years', '30 or more years', '18-20 years', '12-14 years',
       '21-23 years', '15-17 years', '24-26 years'], dtype=object)

replacing:

- 0-2 years --> 1 etc

In [60]:
salaries_train["YearsCodingProf"].replace('0-2 years',1,inplace=True)
salaries_train["YearsCodingProf"].replace('6-8 years',7,inplace=True)
salaries_train["YearsCodingProf"].replace(np.nan,0,inplace=True)
salaries_train["YearsCodingProf"].replace('3-5 years',5,inplace=True)
salaries_train["YearsCodingProf"].replace('27-29 years',28,inplace=True)
salaries_train["YearsCodingProf"].replace('18-20 years',19,inplace=True)
salaries_train["YearsCodingProf"].replace('12-14 years',13,inplace=True)
salaries_train["YearsCodingProf"].replace('21-23 years',22,inplace=True)
salaries_train["YearsCodingProf"].replace('15-17 years',16,inplace=True)
salaries_train["YearsCodingProf"].replace('24-26 years',25,inplace=True)
salaries_train["YearsCodingProf"].replace('30 or more years',30,inplace=True)

In [61]:
salaries_train["YearsCodingProf"].replace('9-11 years',10,inplace=True)

In [62]:
salaries_train["YearsCodingProf"].unique()

array([ 1,  7,  0,  5, 10, 28, 30, 19, 13, 22, 16, 25], dtype=int64)

**Dealing with YearsCoding col**

In [63]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer,3-5 years,1,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer,3-5 years,1,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,Back-end developer,6-8 years,7,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer,3-5 years,0,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed,Low,NaN,300.0,Back-end developer,3-5 years,1,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [64]:
salaries_train["YearsCoding"].unique()

array(['3-5 years', '6-8 years', '18-20 years', '30 or more years',
       '0-2 years', '12-14 years', '9-11 years', '15-17 years',
       '21-23 years', nan, '24-26 years', '27-29 years'], dtype=object)

In [65]:
salaries_train["YearsCoding"].replace('0-2 years',1,inplace=True)
salaries_train["YearsCoding"].replace('6-8 years',7,inplace=True)
salaries_train["YearsCoding"].replace(np.nan,0,inplace=True)
salaries_train["YearsCoding"].replace('3-5 years',5,inplace=True)
salaries_train["YearsCoding"].replace('27-29 years',28,inplace=True)
salaries_train["YearsCoding"].replace('18-20 years',19,inplace=True)
salaries_train["YearsCoding"].replace('12-14 years',13,inplace=True)
salaries_train["YearsCoding"].replace('21-23 years',22,inplace=True)
salaries_train["YearsCoding"].replace('15-17 years',16,inplace=True)
salaries_train["YearsCoding"].replace('24-26 years',25,inplace=True)
salaries_train["YearsCoding"].replace('30 or more years',30,inplace=True)
salaries_train["YearsCoding"].replace('9-11 years',10,inplace=True)

In [66]:
salaries_train["YearsCoding"].unique()

array([ 5,  7, 19, 30,  1, 13, 10, 16, 22,  0, 25, 28], dtype=int64)

**Dealing with EducationTypes col**

In [67]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer,5,1,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer,5,1,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,Back-end developer,7,7,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer,5,0,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed,Low,NaN,300.0,Back-end developer,5,1,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [68]:
len(salaries_train["EducationTypes"].unique())

72

In [69]:
# Question salaries_train["EducationTypes"] answers #
schema.loc[58,"QuestionText"]

'Which of the following types of non-degree education have you used or participated in? Please select all that apply.'

In [70]:
salaries_train["EducationTypes"][5]

'Taken a part-time in-person course in programming or software development;Taught yourself a new language, framework, or tool without taking a formal course;Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder);Participated in a hackathon;Contributed to open source software'

In [71]:
# turn each row in the col into an array #

In [72]:
# split a pandas Series into an array via (";") 
salaries_train["EducationTypes"] = salaries_train["EducationTypes"].str.split(";")

In [73]:
salaries_train["EducationTypes"][0]

['Taught yourself a new language, framework, or tool without taking a formal course']

In [74]:
# Choose the first education type #
salaries_train["EducationTypes"] = salaries_train["EducationTypes"].str[0]

In [75]:
salaries_train["EducationTypes"].value_counts()

Taken an online course in programming or software development (e.g. a MOOC)          65
Taught yourself a new language, framework, or tool without taking a formal course    33
Received on-the-job training in software development                                 21
Taken a part-time in-person course in programming or software development            11
Completed an industry certification program (e.g. MCPD)                               6
Participated in a full-time developer training program or bootcamp                    3
Contributed to open source software                                                   1
Participated in a hackathon                                                           1
Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder)      1
Name: EducationTypes, dtype: int64

In [76]:
salaries_train["EducationTypes"].unique()

array(['Taught yourself a new language, framework, or tool without taking a formal course',
       'Participated in a full-time developer training program or bootcamp',
       'Taken an online course in programming or software development (e.g. a MOOC)',
       nan, 'Received on-the-job training in software development',
       'Taken a part-time in-person course in programming or software development',
       'Completed an industry certification program (e.g. MCPD)',
       'Participated in a hackathon',
       'Contributed to open source software',
       'Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder)'],
      dtype=object)

In [77]:
len(salaries_train["EducationTypes"].unique())

10

In [78]:
# might Group cols to fewer options later #

**Dealing with SelfTaughtTypes col**

In [79]:
len(salaries_train["SelfTaughtTypes"].unique())

60

In [80]:
salaries_train["SelfTaughtTypes"][69]

'A book or e-book from O’Reilly, Apress, or a similar publisher;Questions & answers on Stack Overflow;Online developer communities other than Stack Overflow (ex. forums, listservs, IRC channels, etc.)'

In [81]:
# turn each row in the col into an array #

In [82]:
salaries_train["SelfTaughtTypes"].str.split(";")[0]

['The official documentation and/or standards for the technology',
 'Questions & answers on Stack Overflow',
 'Online developer communities other than Stack Overflow (ex. forums, listservs, IRC channels, etc.)']

In [83]:
# split a pandas Series into an array via (";") 
salaries_train["SelfTaughtTypes"] = salaries_train["SelfTaughtTypes"].str.split(";")

In [84]:
salaries_train["SelfTaughtTypes"][0]

['The official documentation and/or standards for the technology',
 'Questions & answers on Stack Overflow',
 'Online developer communities other than Stack Overflow (ex. forums, listservs, IRC channels, etc.)']

In [85]:
# Choose first option for SelfTaughtTypes #
salaries_train["SelfTaughtTypes"].str[0][0]

'The official documentation and/or standards for the technology'

In [86]:
# Implimentation #
salaries_train["SelfTaughtTypes"] = salaries_train["SelfTaughtTypes"].str[0]

In [87]:
salaries_train["SelfTaughtTypes"].head()

0    The official documentation and/or standards fo...
1                                                  NaN
2                                                  NaN
3                                                  NaN
4    The official documentation and/or standards fo...
Name: SelfTaughtTypes, dtype: object

In [88]:
salaries_train["SelfTaughtTypes"][0]

'The official documentation and/or standards for the technology'

In [89]:
salaries_train["SelfTaughtTypes"].value_counts()

The official documentation and/or standards for the technology        105
A book or e-book from O’Reilly, Apress, or a similar publisher          8
Questions & answers on Stack Overflow                                   7
A college/university computer science or software engineering book      1
The technology’s online help system                                     1
Name: SelfTaughtTypes, dtype: int64

**Dealing with LanguageWorkedWith col**

In [90]:
len(salaries_train["LanguageWorkedWith"].unique())

147

In [91]:
salaries_train["LanguageWorkedWith"][0]

'C#;Java;Matlab;Python;SQL;HTML;CSS'

In [92]:
# Turn "LanguageWorkedWith" col to a list #
salaries_train["LanguageWorkedWith"] = salaries_train["LanguageWorkedWith"].str.split(";")

In [93]:
salaries_train["LanguageWorkedWith"].str[0:2].head(6)

0                  [C#, Java]
1    [JavaScript, TypeScript]
2                   [C++, C#]
3                    [C, PHP]
4                    [C, C++]
5               [Assembly, C]
Name: LanguageWorkedWith, dtype: object

In [94]:
# Extract the first 2 LanguageWorkedWith #

In [95]:
salaries_train["LanguageWorkedWith"] = salaries_train["LanguageWorkedWith"].str[0:2]

In [96]:
salaries_train["LanguageWorkedWith"].head()

0                  [C#, Java]
1    [JavaScript, TypeScript]
2                   [C++, C#]
3                    [C, PHP]
4                    [C, C++]
Name: LanguageWorkedWith, dtype: object

In [97]:
# Create a new col for SecondLanguageWorkedWith #
salaries_train["SecondLanguageWorkedWith"] = salaries_train["LanguageWorkedWith"].str[1]

In [98]:
salaries_train["SecondLanguageWorkedWith"].head()

0          Java
1    TypeScript
2            C#
3           PHP
4           C++
Name: SecondLanguageWorkedWith, dtype: object

In [99]:
salaries_train["SecondLanguageWorkedWith"] = salaries_train["LanguageWorkedWith"].str[1]

In [100]:
# Primary programming language #
salaries_train["LanguageWorkedWith"] = salaries_train["LanguageWorkedWith"].str[0]

In [101]:
salaries_train["LanguageWorkedWith"].head()

0            C#
1    JavaScript
2           C++
3             C
4             C
Name: LanguageWorkedWith, dtype: object

**Dealing with LanguageDesireNextYear col**

In [102]:
len(salaries_train["LanguageDesireNextYear"].unique())

143

In [103]:
# Will drop col #

**Dealing with FrameworkWorkedWith col**

In [104]:
len(salaries_train["FrameworkWorkedWith"].unique())

50

In [105]:
salaries_train["FrameworkWorkedWith"].head()

0                                 Spark
1                 Angular;Node.js;React
2                               Angular
3                                   NaN
4    .NET Core;TensorFlow;Torch/PyTorch
Name: FrameworkWorkedWith, dtype: object

In [106]:
# Turn salaries_train["FrameworkWorkedWith"] to an array #
salaries_train["FrameworkWorkedWith"] = salaries_train["FrameworkWorkedWith"].str.split(";")

In [107]:
salaries_train["FrameworkWorkedWith"].head()

0                                   [Spark]
1                 [Angular, Node.js, React]
2                                 [Angular]
3                                       NaN
4    [.NET Core, TensorFlow, Torch/PyTorch]
Name: FrameworkWorkedWith, dtype: object

In [108]:
# Get the first framework #
salaries_train["FrameworkWorkedWith"] = salaries_train["FrameworkWorkedWith"].str[0]

In [109]:
salaries_train["FrameworkWorkedWith"].value_counts()

Angular          38
.NET Core        26
Node.js          22
Django            9
React             8
Spring            7
TensorFlow        3
Spark             1
Hadoop            1
Torch/PyTorch     1
Name: FrameworkWorkedWith, dtype: int64

**Dealing with FrameworkDesireNextYear col**

In [110]:
len(salaries_train["FrameworkDesireNextYear"].unique())

72

In [111]:
# Will drop col #

**Dealing with OperatingSystem col**

In [112]:
salaries_train["OperatingSystem"].unique()

array(['Linux-based', 'Windows', 'MacOS', nan], dtype=object)

In [113]:
# Replace nan with Windows since windows is the most popular OS in the world #
salaries_train["OperatingSystem"].replace(np.nan,"Windows",inplace=True)

In [114]:
salaries_train["OperatingSystem"].unique()

array(['Linux-based', 'Windows', 'MacOS'], dtype=object)

**Dealing with Age col**

In [115]:
salaries_train["Age"].unique()

array(['18 - 24 years old', '25 - 34 years old', nan,
       'Under 18 years old', '35 - 44 years old', '45 - 54 years old',
       '55 - 64 years old'], dtype=object)

Replace:

"18 - 24 years old" --> 21  etc

In [116]:
salaries_train["Age"].value_counts()

25 - 34 years old     63
18 - 24 years old     33
35 - 44 years old     22
Under 18 years old     9
45 - 54 years old      7
55 - 64 years old      3
Name: Age, dtype: int64

In [117]:
salaries_train["Age"].replace("18 - 24 years old",21,inplace=True)
salaries_train["Age"].replace("25 - 34 years old",30,inplace=True)
salaries_train["Age"].replace("Under 18 years old",18,inplace=True)
salaries_train["Age"].replace("35 - 44 years old",40,inplace=True)
salaries_train["Age"].replace("45 - 54 years old",50,inplace=True)
salaries_train["Age"].replace("55 - 64 years old",60,inplace=True)
# since most people are between 25 - 34 years old, for nan --> 30 #
salaries_train["Age"].replace(np.nan,30,inplace=True)

In [118]:
salaries_train["Age"].unique()

array([21., 30., 18., 40., 50., 60.])

**Dealing with Salary and ConvertedSalary cols**

In [119]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,...,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary,SecondLanguageWorkedWith
0,17522,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer,5,1,...,The official documentation and/or standards fo...,C#,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,21.0,NaN,Java
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer,5,1,...,NaN,JavaScript,120,JavaScript;TypeScript,Angular,Angular;Node.js;React,Windows,21.0,1440.0,TypeScript
2,858,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,Back-end developer,7,7,...,NaN,C++,100000,NaN,Angular,NaN,MacOS,30.0,14436.0,C#
3,53284,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer,5,0,...,NaN,C,NaN,Python;R,NaN,NaN,Windows,30.0,NaN,PHP
4,37884,Czech Republic,No,Employed,Low,NaN,300.0,Back-end developer,5,1,...,The official documentation and/or standards fo...,C,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core,.NET Core;TensorFlow,Linux-based,18.0,3228.0,C++

In [120]:
salaries_train[["Salary","ConvertedSalary"]].head()

   Salary  ConvertedSalary
0     510              NaN
1     120           1440.0
2  100000          14436.0
3     NaN              NaN
4     220           3228.0

Understanding what the Salary and ConvertedSalary columns Stand for

In [121]:
schema[schema["Column"] == "Salary"]

    Column                                       QuestionText
52  Salary  What is your current gross salary (before taxe...

In [122]:
schema.loc[52,"QuestionText"]

'What is your current gross salary (before taxes and deductions), in ${q://QID50/ChoiceGroup/SelectedChoicesTextEntry}? Please enter a whole number in the box below, without any punctuation. If you are paid hourly, please estimate an equivalent weekly, monthly, or yearly salary. If you prefer not to answer, please leave the box empty.'

In [123]:
schema[schema["Column"] == "ConvertedSalary"]

             Column                                       QuestionText
54  ConvertedSalary  Salary converted to annual USD salaries using ...

In [124]:
schema.loc[54,"QuestionText"]

'Salary converted to annual USD salaries using the exchange rate on 2018-01-18, assuming 12 working months and 50 working weeks.'

In [125]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                200 non-null    int64
 1   Country                   200 non-null    object
 2   Student                   200 non-null    object
 3   Employment                200 non-null    object
 4   FormalEducation           200 non-null    object
 5   UndergradMajor            161 non-null    object
 6   CompanySize               136 non-null    float64
 7   DevType                   187 non-null    object
 8   YearsCoding               200 non-null    int64
 9   YearsCodingProf           200 non-null    int64
 10  EducationTypes            142 non-null    object
 11  SelfTaughtTypes           122 non-null    object
 12  LanguageWorkedWith        162 non-null    object
 13  Salary                    95 non-null     object
 14  LanguageDesireNextYear    150 non-null    object
 15  FrameworkWorkedWith       116 non-null    object
 16  FrameworkDesireNextYear   125 non-null    object
 17  OperatingSystem           200 non-null    object
 18  Age                       200 non-null    float64
 19  ConvertedSalary           89 non-null     float64
 20  SecondLanguageWorkedWith  154 non-null    object
dtypes: float64(3), int64(3), object(15)
memory usage: 32.9+ KB

In [126]:
salaries_train["ConvertedSalary"]

0           NaN
1        1440.0
2       14436.0
3           NaN
4        3228.0
         ...
195     47000.0
196    110000.0
197     70515.0
198    140000.0
199         NaN
Name: ConvertedSalary, Length: 200, dtype: float64

## The target column is ConvertedSalary!

In [127]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,...,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary,SecondLanguageWorkedWith
0,17522,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer,5,1,...,The official documentation and/or standards fo...,C#,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,21.0,NaN,Java
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer,5,1,...,NaN,JavaScript,120,JavaScript;TypeScript,Angular,Angular;Node.js;React,Windows,21.0,1440.0,TypeScript
2,858,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,Back-end developer,7,7,...,NaN,C++,100000,NaN,Angular,NaN,MacOS,30.0,14436.0,C#
3,53284,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer,5,0,...,NaN,C,NaN,Python;R,NaN,NaN,Windows,30.0,NaN,PHP
4,37884,Czech Republic,No,Employed,Low,NaN,300.0,Back-end developer,5,1,...,The official documentation and/or standards fo...,C,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core,.NET Core;TensorFlow,Linux-based,18.0,3228.0,C++

**Removing unwanted cols**
- Unnamed: 0
- SelfTaughtTypes 
- LanguageDesireNextYear 
- FrameworkDesireNextYear

In [128]:
# Removing unwanteted cols #
salaries_train.drop(["Unnamed: 0","SelfTaughtTypes","LanguageDesireNextYear","FrameworkDesireNextYear"], axis=1, inplace = True)

In [129]:
salaries_train.head()

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,LanguageWorkedWith,Salary,FrameworkWorkedWith,OperatingSystem,Age,ConvertedSalary,SecondLanguageWorkedWith
0,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer,5,1,"Taught yourself a new language, framework, or ...",C#,510,Spark,Linux-based,21.0,NaN,Java
1,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer,5,1,Participated in a full-time developer training...,JavaScript,120,Angular,Windows,21.0,1440.0,TypeScript
2,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,Back-end developer,7,7,Taken an online course in programming or softw...,C++,100000,Angular,MacOS,30.0,14436.0,C#
3,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer,5,0,NaN,C,NaN,NaN,Windows,30.0,NaN,PHP
4,Czech Republic,No,Employed,Low,NaN,300.0,Back-end developer,5,1,Received on-the-job training in software devel...,C,220,.NET Core,Linux-based,18.0,3228.0,C++

In [130]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   200 non-null    object
 1   Student                   200 non-null    object
 2   Employment                200 non-null    object
 3   FormalEducation           200 non-null    object
 4   UndergradMajor            161 non-null    object
 5   CompanySize               136 non-null    float64
 6   DevType                   187 non-null    object
 7   YearsCoding               200 non-null    int64
 8   YearsCodingProf           200 non-null    int64
 9   EducationTypes            142 non-null    object
 10  LanguageWorkedWith        162 non-null    object
 11  Salary                    95 non-null     object
 12  FrameworkWorkedWith       116 non-null    object
 13  OperatingSystem           200 non-null    object
 14  Age                       200 non-null    float64
 15  ConvertedSalary           89 non-null     float64
 16  SecondLanguageWorkedWith  154 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 26.7+ KB

### dealing will the left over null values
-  UndergradMajor
- CompanySize
- DevType
- EducationTypes
- LanguageWorkedWith
- FrameworkWorkedWith
- SecondLanguageWorkedWith

**UndergradMajor**

In [131]:
salaries_train["UndergradMajor"].unique()

array(['Computer science, computer engineering, or software engineering',
       'Web development or web design', nan,
       'Information systems, information technology, or system administration',
       'Another engineering discipline (ex. civil, electrical, mechanical)',
       'A natural science (ex. biology, chemistry, physics)',
       'A business discipline (ex. accounting, finance, marketing)',
       'A health science (ex. nursing, pharmacy, radiology)',
       'Mathematics or statistics',
       'A humanities discipline (ex. literature, history, philosophy)',
       'I never declared a major',
       'A social science (ex. anthropology, psychology, political science)'],
      dtype=object)

In [132]:
# Number of null values(i.e. in this case people who didnt get a degree) #
len(salaries_train[salaries_train["UndergradMajor"].isnull()])

39

In [133]:
salaries_train["UndergradMajor"].value_counts()

Computer science, computer engineering, or software engineering          102
Another engineering discipline (ex. civil, electrical, mechanical)        14
Web development or web design                                             11
Information systems, information technology, or system administration     10
A natural science (ex. biology, chemistry, physics)                        6
Mathematics or statistics                                                  5
A business discipline (ex. accounting, finance, marketing)                 5
A social science (ex. anthropology, psychology, political science)         3
A humanities discipline (ex. literature, history, philosophy)              2
A health science (ex. nursing, pharmacy, radiology)                        2
I never declared a major                                                   1
Name: UndergradMajor, dtype: int64

Replace :

nan --> 'I never declared a major'

In [134]:
# implimatation #
salaries_train["UndergradMajor"].replace(np.nan,'I never declared a major',inplace=True)

In [135]:
salaries_train["UndergradMajor"].value_counts()

Computer science, computer engineering, or software engineering          102
I never declared a major                                                  40
Another engineering discipline (ex. civil, electrical, mechanical)        14
Web development or web design                                             11
Information systems, information technology, or system administration     10
A natural science (ex. biology, chemistry, physics)                        6
Mathematics or statistics                                                  5
A business discipline (ex. accounting, finance, marketing)                 5
A social science (ex. anthropology, psychology, political science)         3
A humanities discipline (ex. literature, history, philosophy)              2
A health science (ex. nursing, pharmacy, radiology)                        2
Name: UndergradMajor, dtype: int64

In [136]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   200 non-null    object
 1   Student                   200 non-null    object
 2   Employment                200 non-null    object
 3   FormalEducation           200 non-null    object
 4   UndergradMajor            200 non-null    object
 5   CompanySize               136 non-null    float64
 6   DevType                   187 non-null    object
 7   YearsCoding               200 non-null    int64
 8   YearsCodingProf           200 non-null    int64
 9   EducationTypes            142 non-null    object
 10  LanguageWorkedWith        162 non-null    object
 11  Salary                    95 non-null     object
 12  FrameworkWorkedWith       116 non-null    object
 13  OperatingSystem           200 non-null    object
 14  Age                       200 non-null    float64
 15  ConvertedSalary           89 non-null     float64
 16  SecondLanguageWorkedWith  154 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 26.7+ KB

**CompanySize**

The logic is if you are not employed(Employment == "Not_employed") then your company size is zero

In [137]:
# number of null values in CompanySize col #
len(salaries_train["CompanySize"][salaries_train["CompanySize"].isnull()])

64

In [138]:
# Show Empoloyment and CompanySize cols where CompanySize == NaN #
salaries_train[["Employment","CompanySize"]][salaries_train["CompanySize"].isnull()]

       Employment  CompanySize
1    Not_employed          NaN
6    Not_employed          NaN
10       Employed          NaN
11       Employed          NaN
12       Employed          NaN
..            ...          ...
186  Not_employed          NaN
189      Employed          NaN
194  Not_employed          NaN
196      Employed          NaN
199  Not_employed          NaN

[64 rows x 2 columns]

In [139]:
# Number of null values where CompanySize == NaN and Employment == "Not_employed" #
len(salaries_train[["Employment","CompanySize"]][(salaries_train["CompanySize"].isnull()) & (salaries_train["Employment"] == "Not_employed")])

38

In [140]:
# show where salaries_train["Employment"] == "Not_employed" and salaries_train["CompanySize"] = nan #
salaries_train[["Employment","CompanySize"]][(salaries_train["CompanySize"].isnull()) & (salaries_train["Employment"] == "Not_employed")]

       Employment  CompanySize
1    Not_employed          NaN
6    Not_employed          NaN
16   Not_employed          NaN
18   Not_employed          NaN
20   Not_employed          NaN
28   Not_employed          NaN
32   Not_employed          NaN
38   Not_employed          NaN
43   Not_employed          NaN
55   Not_employed          NaN
58   Not_employed          NaN
62   Not_employed          NaN
63   Not_employed          NaN
66   Not_employed          NaN
71   Not_employed          NaN
79   Not_employed          NaN
81   Not_employed          NaN
92   Not_employed          NaN
97   Not_employed          NaN
114  Not_employed          NaN
124  Not_employed          NaN
125  Not_employed          NaN
131  Not_employed          NaN
133  Not_employed          NaN
148  Not_employed          NaN
149  Not_employed          NaN
156  Not_employed          NaN
158  Not_employed          NaN
163  Not_employed          NaN
168  Not_employed          NaN
172  Not_employed          NaN
175  Not_employed          NaN
176  Not_employed          NaN
183  Not_employed          NaN
185  Not_employed          NaN
186  Not_employed          NaN
194  Not_employed          NaN
199  Not_employed          NaN

In [141]:
# sal_df = salaries_train.copy()

In [142]:
salaries_train[["Employment","CompanySize"]][(salaries_train["CompanySize"].isnull()) & (salaries_train["Employment"] == "Not_employed")].head()

      Employment  CompanySize
1   Not_employed          NaN
6   Not_employed          NaN
16  Not_employed          NaN
18  Not_employed          NaN
20  Not_employed          NaN

In [143]:
# show CompanySize col where Employment col == "Not_employed" #
salaries_train.loc[salaries_train["Employment"] == "Not_employed", "CompanySize"]

1     NaN
6     NaN
16    NaN
18    NaN
20    NaN
28    NaN
32    NaN
38    NaN
43    NaN
55    NaN
58    NaN
62    NaN
63    NaN
66    NaN
71    NaN
79    NaN
81    NaN
92    NaN
97    NaN
114   NaN
124   NaN
125   NaN
131   NaN
133   NaN
148   NaN
149   NaN
156   NaN
158   NaN
163   NaN
168   NaN
172   NaN
175   NaN
176   NaN
183   NaN
185   NaN
186   NaN
194   NaN
199   NaN
Name: CompanySize, dtype: float64

In [144]:
# where Employment col == "Not_employed" make CompanySize =0 #
salaries_train.loc[salaries_train["Employment"] == "Not_employed", "CompanySize"] = 0

In [145]:
salaries_train["CompanySize"].unique()

array([   10.,     0.,    15.,   300.,    60.,   750.,    nan,  3000.,
        7500., 10000.])

In [146]:
salaries_train["CompanySize"].value_counts()

0.0        38
300.0      30
60.0       28
3000.0     18
10.0       17
10000.0    17
15.0       15
750.0       9
7500.0      2
Name: CompanySize, dtype: int64

For the rest on NaN values in the CompanySize col we look to see what other col can affect it

In [147]:
# show rows where CompanySize = NaN and all cols of dataframe
salaries_train.loc[salaries_train["CompanySize"].isnull()].head()

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,LanguageWorkedWith,Salary,FrameworkWorkedWith,OperatingSystem,Age,ConvertedSalary,SecondLanguageWorkedWith
10,Australia,No,Employed,Medium,"A natural science (ex. biology, chemistry, phy...",NaN,Desktop or enterprise applications developer,30,28,Taken an online course in programming or softw...,VBA,NaN,NaN,MacOS,50.0,NaN,VB.NET
11,India,Yes,Employed,Low,I never declared a major,NaN,Back-end developer,5,5,NaN,NaN,NaN,NaN,Windows,30.0,NaN,NaN
12,United States,No,Employed,Medium,"Computer science, computer engineering, or sof...",NaN,Full-stack developer,30,30,Completed an industry certification program (e...,Swift,NaN,NaN,MacOS,60.0,NaN,NaN
25,Indonesia,No,Employed,Medium,"A natural science (ex. biology, chemistry, phy...",NaN,Back-end developer,7,7,"Taught yourself a new language, framework, or ...",C#,5000,Angular,Windows,30.0,3785.0,Java
54,Luxembourg,Yes,Employed,Low,I never declared a major,NaN,Back-end developer,5,1,Contributed to open source software,C#,2000,Angular,Windows,21.0,29376.0,CoffeeScript

In this case no other col affects the Companysize therefore the remaining NaN are set to zero

In [148]:
salaries_train["CompanySize"].fillna(0,inplace = True)

In [149]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   200 non-null    object
 1   Student                   200 non-null    object
 2   Employment                200 non-null    object
 3   FormalEducation           200 non-null    object
 4   UndergradMajor            200 non-null    object
 5   CompanySize               200 non-null    float64
 6   DevType                   187 non-null    object
 7   YearsCoding               200 non-null    int64
 8   YearsCodingProf           200 non-null    int64
 9   EducationTypes            142 non-null    object
 10  LanguageWorkedWith        162 non-null    object
 11  Salary                    95 non-null     object
 12  FrameworkWorkedWith       116 non-null    object
 13  OperatingSystem           200 non-null    object
 14  Age                       200 non-null    float64
 15  ConvertedSalary           89 non-null     float64
 16  SecondLanguageWorkedWith  154 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 26.7+ KB

**DevType**

In [150]:
salaries_train["DevType"].value_counts()

Back-end developer                               109
Full-stack developer                              18
Front-end developer                               11
Mobile developer                                   6
Designer                                           6
Data scientist or machine learning specialist      5
Student                                            5
Data or business analyst                           5
Desktop or enterprise applications developer       4
DevOps specialist                                  3
Database administrator                             3
Educator or academic researcher                    3
Game or graphics developer                         2
Embedded applications or devices developer         2
System administrator                               2
C-suite executive (CEO, CTO, etc.)                 1
QA or test developer                               1
Marketing or sales professional                    1
Name: DevType, dtype: int64

In [151]:
salaries_train.loc[salaries_train["DevType"].isnull(), ["DevType","FormalEducation"]]

    DevType FormalEducation
38      NaN             Low
57      NaN          Medium
62      NaN          Medium
79      NaN             Low
95      NaN          Medium
100     NaN          Medium
107     NaN          Medium
131     NaN          Medium
134     NaN          Medium
153     NaN          Medium
156     NaN             Low
163     NaN             Low
168     NaN             Low

For missing NaN values we will pad the data

In [152]:
# Filling in NaN in a Series by padding, but filling at most two consecutive NaN at a time. #
salaries_train["DevType"].interpolate(method='pad', limit=2, inplace=True)

In [153]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   200 non-null    object
 1   Student                   200 non-null    object
 2   Employment                200 non-null    object
 3   FormalEducation           200 non-null    object
 4   UndergradMajor            200 non-null    object
 5   CompanySize               200 non-null    float64
 6   DevType                   200 non-null    object
 7   YearsCoding               200 non-null    int64
 8   YearsCodingProf           200 non-null    int64
 9   EducationTypes            142 non-null    object
 10  LanguageWorkedWith        162 non-null    object
 11  Salary                    95 non-null     object
 12  FrameworkWorkedWith       116 non-null    object
 13  OperatingSystem           200 non-null    object
 14  Age                       200 non-null    float64
 15  ConvertedSalary           89 non-null     float64
 16  SecondLanguageWorkedWith  154 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 26.7+ KB

**EducationTypes**

In [154]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   200 non-null    object
 1   Student                   200 non-null    object
 2   Employment                200 non-null    object
 3   FormalEducation           200 non-null    object
 4   UndergradMajor            200 non-null    object
 5   CompanySize               200 non-null    float64
 6   DevType                   200 non-null    object
 7   YearsCoding               200 non-null    int64
 8   YearsCodingProf           200 non-null    int64
 9   EducationTypes            142 non-null    object
 10  LanguageWorkedWith        162 non-null    object
 11  Salary                    95 non-null     object
 12  FrameworkWorkedWith       116 non-null    object
 13  OperatingSystem           200 non-null    object
 14  Age                       200 non-null    float64
 15  ConvertedSalary           89 non-null     float64
 16  SecondLanguageWorkedWith  154 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 26.7+ KB

In [155]:
salaries_train["EducationTypes"].unique()

array(['Taught yourself a new language, framework, or tool without taking a formal course',
       'Participated in a full-time developer training program or bootcamp',
       'Taken an online course in programming or software development (e.g. a MOOC)',
       nan, 'Received on-the-job training in software development',
       'Taken a part-time in-person course in programming or software development',
       'Completed an industry certification program (e.g. MCPD)',
       'Participated in a hackathon',
       'Contributed to open source software',
       'Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder)'],
      dtype=object)

In [156]:
salaries_train["EducationTypes"].value_counts()

Taken an online course in programming or software development (e.g. a MOOC)          65
Taught yourself a new language, framework, or tool without taking a formal course    33
Received on-the-job training in software development                                 21
Taken a part-time in-person course in programming or software development            11
Completed an industry certification program (e.g. MCPD)                               6
Participated in a full-time developer training program or bootcamp                    3
Contributed to open source software                                                   1
Participated in a hackathon                                                           1
Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder)      1
Name: EducationTypes, dtype: int64

In [157]:
# Show EducationTypes and FormalEducation where EducationTypes = NaN #
salaries_train.loc[salaries_train["EducationTypes"].isnull(), ["UndergradMajor","Employment","FormalEducation","EducationTypes"]].head(10)

,UndergradMajor,Employment,FormalEducation,EducationTypes
3,"Computer science, computer engineering, or sof...",Employed,Medium,NaN
11,I never declared a major,Employed,Low,NaN
18,I never declared a major,Not_employed,Low,NaN
20,"Another engineering discipline (ex. civil, ele...",Not_employed,Medium,NaN
21,"Another engineering discipline (ex. civil, ele...",Employed,High,NaN
22,"Computer science, computer engineering, or sof...",Employed,Medium,NaN
27,"Computer science, computer engineering, or sof...",Employed,Medium,NaN
29,I never declared a major,Employed,Low,NaN
30,"Another engineering discipline (ex. civil, ele...",Employed,Medium,NaN
36,I never declared a major,Employed,Low,NaN

## Apply corr to view the relationship between the categorical cols

We can assume that if: 

    Employment == "Not_employed" ie. no one is paying for you to get any further type of education
    FormalEducation == "Low" ie. did not go to university
    EducationTypes == NaN 
    
Then most likely you are self taught (Taught yourself a new language, framework, or tool without taking a formal course)

In [160]:
salaries_train.loc[(salaries_train["Employment"] == "Not_employed") & (salaries_train["FormalEducation"] == "Low") & salaries_train["EducationTypes"], ["UndergradMajor","Employment","FormalEducation","EducationTypes"]]

,UndergradMajor,Employment,FormalEducation,EducationTypes
6,I never declared a major,Not_employed,Low,Taken an online course in programming or softw...
63,I never declared a major,Not_employed,Low,"Taught yourself a new language, framework, or ..."
71,I never declared a major,Not_employed,Low,Taken an online course in programming or softw...
92,I never declared a major,Not_employed,Low,"Taught yourself a new language, framework, or ..."
97,I never declared a major,Not_employed,Low,Taken an online course in programming or softw...
148,I never declared a major,Not_employed,Low,"Taught yourself a new language, framework, or ..."
175,I never declared a major,Not_employed,Low,Taken an online course in programming or softw...
176,I never declared a major,Not_employed,Low,"Taught yourself a new language, framework, or ..."
186,I never declared a major,Not_employed,Low,Taken an online course in programming or softw...
199,I never declared a major,Not_employed,Low,Taken an online course in programming or softw...

In [165]:
salaries_train.loc[(salaries_train["Employment"] == "Not_employed") & (salaries_train["FormalEducation"] == "Low") & (salaries_train["EducationTypes"].isnull())]

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,LanguageWorkedWith,Salary,FrameworkWorkedWith,OperatingSystem,Age,ConvertedSalary,SecondLanguageWorkedWith
18,Indonesia,Yes,Not_employed,Low,I never declared a major,0.0,Back-end developer,5,30,NaN,Assembly,08217000063,Angular,Windows,40.0,1000000.0,C
38,Netherlands,No,Not_employed,Low,I never declared a major,0.0,Mobile developer,0,0,NaN,NaN,NaN,NaN,Windows,30.0,NaN,NaN
79,Viet Nam,No,Not_employed,Low,I never declared a major,0.0,Mobile developer,0,0,NaN,NaN,NaN,NaN,Windows,30.0,NaN,NaN
133,India,Yes,Not_employed,Low,I never declared a major,0.0,Front-end developer,1,1,NaN,NaN,NaN,NaN,Windows,30.0,NaN,NaN
156,Belgium,No,Not_employed,Low,I never declared a major,0.0,Back-end developer,0,0,NaN,NaN,NaN,NaN,Windows,30.0,NaN,NaN
163,Jordan,Yes,Not_employed,Low,I never declared a major,0.0,Front-end developer,0,0,NaN,NaN,NaN,NaN,Windows,30.0,NaN,NaN
168,India,No,Not_employed,Low,I never declared a major,0.0,Designer,0,0,NaN,NaN,NaN,NaN,Windows,30.0,NaN,NaN

In [ ]:
# Testing the code #

In [184]:
# show null values in EducationTypes col that represent the assumed relationship #
salaries_train.loc[(salaries_train["Employment"] == "Not_employed") & (salaries_train["FormalEducation"] == "Low") & (salaries_train["EducationTypes"].isnull()), "EducationTypes"]

18     NaN
38     NaN
79     NaN
133    NaN
156    NaN
163    NaN
168    NaN
Name: EducationTypes, dtype: object

In [185]:
# in EducationTypes col take the suggested relationship and broadcast the new value #
salaries_train.loc[(salaries_train["Employment"] == "Not_employed") & (salaries_train["FormalEducation"] == "Low") & (salaries_train["EducationTypes"].isnull()), "EducationTypes"] = "Taught yourself a new language, framework, or tool without taking a formal course"

In [186]:
salaries_train["EducationTypes"].value_counts()

Taken an online course in programming or software development (e.g. a MOOC)          65
Taught yourself a new language, framework, or tool without taking a formal course    40
Received on-the-job training in software development                                 21
Taken a part-time in-person course in programming or software development            11
Completed an industry certification program (e.g. MCPD)                               6
Participated in a full-time developer training program or bootcamp                    3
Contributed to open source software                                                   1
Participated in a hackathon                                                           1
Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder)      1
Name: EducationTypes, dtype: int64

In [187]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   200 non-null    object
 1   Student                   200 non-null    object
 2   Employment                200 non-null    object
 3   FormalEducation           200 non-null    object
 4   UndergradMajor            200 non-null    object
 5   CompanySize               200 non-null    float64
 6   DevType                   200 non-null    object
 7   YearsCoding               200 non-null    int64
 8   YearsCodingProf           200 non-null    int64
 9   EducationTypes            149 non-null    object
 10  LanguageWorkedWith        162 non-null    object
 11  Salary                    95 non-null     object
 12  FrameworkWorkedWith       116 non-null    object
 13  OperatingSystem           200 non-null    object
 14  Age                       200 non-null    float64
 15  ConvertedSalary           89 non-null     float64
 16  SecondLanguageWorkedWith  154 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 26.7+ KB

In [188]:
# Number of Remaining NaN values #
len(salaries_train.loc[salaries_train["EducationTypes"].isnull(),"EducationTypes"])

51

In [189]:
# Pad the rest of the EducationTypes dataframe #
salaries_train["EducationTypes"].interpolate(method='pad', limit=2, inplace=True)

In [190]:
# Check for any null values #
salaries_train["EducationTypes"][salaries_train["EducationTypes"].isnull()]

22    NaN
Name: EducationTypes, dtype: object

In [191]:
# After padding with a limit of 2 we are left with 1 NaN value. Fill will fill it with the highest frequency #
salaries_train["EducationTypes"].mode()[0]

'Taken an online course in programming or software development (e.g. a MOOC)'

In [192]:
# fill NaN with highest frequency #
salaries_train["EducationTypes"].fillna(salaries_train["EducationTypes"].mode()[0], inplace=True)

In [193]:
# check for any null values # 
salaries_train["EducationTypes"][salaries_train["EducationTypes"].isnull()]

Series([], Name: EducationTypes, dtype: object)

In [194]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   200 non-null    object
 1   Student                   200 non-null    object
 2   Employment                200 non-null    object
 3   FormalEducation           200 non-null    object
 4   UndergradMajor            200 non-null    object
 5   CompanySize               200 non-null    float64
 6   DevType                   200 non-null    object
 7   YearsCoding               200 non-null    int64
 8   YearsCodingProf           200 non-null    int64
 9   EducationTypes            200 non-null    object
 10  LanguageWorkedWith        162 non-null    object
 11  Salary                    95 non-null     object
 12  FrameworkWorkedWith       116 non-null    object
 13  OperatingSystem           200 non-null    object
 14  Age                       200 non-null    float64
 15  ConvertedSalary           89 non-null     float64
 16  SecondLanguageWorkedWith  154 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 26.7+ KB

**LanguageWorkedWith**

In [195]:
salaries_train["LanguageWorkedWith"].unique()

array(['C#', 'JavaScript', 'C++', 'C', 'Assembly', 'Java', 'VBA', nan,
       'Swift', 'Lua', 'Objective-C', 'Go', 'CoffeeScript', 'Groovy',
       'HTML', 'SQL', 'Haskell', 'Clojure', 'Python', 'Scala'],
      dtype=object)

In [196]:
salaries_train["LanguageWorkedWith"].value_counts()

C#              33
C++             26
Java            25
C               21
JavaScript      20
Assembly        11
Go               7
Groovy           4
Python           2
Swift            2
HTML             2
CoffeeScript     2
SQL              1
Haskell          1
VBA              1
Clojure          1
Lua              1
Objective-C      1
Scala            1
Name: LanguageWorkedWith, dtype: int64

In [197]:
# number of null values # 
len(salaries_train["LanguageWorkedWith"][salaries_train["LanguageWorkedWith"].isnull()])

38

For language worked with we will pad the null values

In [198]:
# Padding dataframe #
salaries_train["LanguageWorkedWith"].interpolate(method='pad', limit=2, inplace=True)

In [199]:
# Show Null values #
salaries_train["LanguageWorkedWith"][salaries_train["LanguageWorkedWith"].isnull()]

63    NaN
Name: LanguageWorkedWith, dtype: object

In [200]:
# Highest frequency #
salaries_train["LanguageWorkedWith"].mode()[0]

'C#'

In [201]:
# use the highest frequency to fill the remaining null values #
salaries_train["LanguageWorkedWith"].fillna(salaries_train["LanguageWorkedWith"].mode()[0],inplace=True)

In [202]:
# Check for NaN values #
salaries_train["LanguageWorkedWith"][salaries_train["LanguageWorkedWith"].isnull()]

Series([], Name: LanguageWorkedWith, dtype: object)

In [203]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   200 non-null    object
 1   Student                   200 non-null    object
 2   Employment                200 non-null    object
 3   FormalEducation           200 non-null    object
 4   UndergradMajor            200 non-null    object
 5   CompanySize               200 non-null    float64
 6   DevType                   200 non-null    object
 7   YearsCoding               200 non-null    int64
 8   YearsCodingProf           200 non-null    int64
 9   EducationTypes            200 non-null    object
 10  LanguageWorkedWith        200 non-null    object
 11  Salary                    95 non-null     object
 12  FrameworkWorkedWith       116 non-null    object
 13  OperatingSystem           200 non-null    object
 14  Age                       200 non-null    float64
 15  ConvertedSalary           89 non-null     float64
 16  SecondLanguageWorkedWith  154 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 26.7+ KB

**SecondLanguageWorkedWith**

In [208]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   200 non-null    object
 1   Student                   200 non-null    object
 2   Employment                200 non-null    object
 3   FormalEducation           200 non-null    object
 4   UndergradMajor            200 non-null    object
 5   CompanySize               200 non-null    float64
 6   DevType                   200 non-null    object
 7   YearsCoding               200 non-null    int64
 8   YearsCodingProf           200 non-null    int64
 9   EducationTypes            200 non-null    object
 10  LanguageWorkedWith        200 non-null    object
 11  Salary                    95 non-null     object
 12  FrameworkWorkedWith       116 non-null    object
 13  OperatingSystem           200 non-null    object
 14  Age                       200 non-null    float64
 15  ConvertedSalary           89 non-null     float64
 16  SecondLanguageWorkedWith  154 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 26.7+ KB

In [ ]:
salaries_train["SecondLanguageWorkedWith"].unique()

In [209]:
salaries_train["SecondLanguageWorkedWith"].value_counts()

JavaScript      44
Java            19
C#              19
C++             18
Python          11
PHP              7
C                6
Go               4
SQL              3
HTML             3
F#               2
CSS              2
TypeScript       2
Ruby             2
R                2
Groovy           1
VBA              1
Objective-C      1
Swift            1
Perl             1
VB.NET           1
Bash/Shell       1
CoffeeScript     1
Matlab           1
Kotlin           1
Name: SecondLanguageWorkedWith, dtype: int64

In [210]:
# number of null values # 
len(salaries_train["SecondLanguageWorkedWith"][salaries_train["SecondLanguageWorkedWith"].isnull()])

46

For language worked with we will pad the null values

In [211]:
# Padding dataframe #
salaries_train["SecondLanguageWorkedWith"].interpolate(method='pad', limit=2, inplace=True)

In [212]:
# Show Null values #
salaries_train["SecondLanguageWorkedWith"][salaries_train["SecondLanguageWorkedWith"].isnull()]

63    NaN
74    NaN
Name: SecondLanguageWorkedWith, dtype: object

In [213]:
# Highest frequency #
salaries_train["SecondLanguageWorkedWith"].mode()[0]

'JavaScript'

In [214]:
# use the highest frequency to fill the remaining null values #
salaries_train["SecondLanguageWorkedWith"].fillna(salaries_train["SecondLanguageWorkedWith"].mode()[0],inplace=True)

In [215]:
# Check for NaN values #
salaries_train["SecondLanguageWorkedWith"][salaries_train["SecondLanguageWorkedWith"].isnull()]

Series([], Name: SecondLanguageWorkedWith, dtype: object)

In [216]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   200 non-null    object
 1   Student                   200 non-null    object
 2   Employment                200 non-null    object
 3   FormalEducation           200 non-null    object
 4   UndergradMajor            200 non-null    object
 5   CompanySize               200 non-null    float64
 6   DevType                   200 non-null    object
 7   YearsCoding               200 non-null    int64
 8   YearsCodingProf           200 non-null    int64
 9   EducationTypes            200 non-null    object
 10  LanguageWorkedWith        200 non-null    object
 11  Salary                    95 non-null     object
 12  FrameworkWorkedWith       116 non-null    object
 13  OperatingSystem           200 non-null    object
 14  Age                       200 non-null    float64
 15  ConvertedSalary           89 non-null     float64
 16  SecondLanguageWorkedWith  200 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 26.7+ KB

**FrameworkWorkedWith**

In [217]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   200 non-null    object
 1   Student                   200 non-null    object
 2   Employment                200 non-null    object
 3   FormalEducation           200 non-null    object
 4   UndergradMajor            200 non-null    object
 5   CompanySize               200 non-null    float64
 6   DevType                   200 non-null    object
 7   YearsCoding               200 non-null    int64
 8   YearsCodingProf           200 non-null    int64
 9   EducationTypes            200 non-null    object
 10  LanguageWorkedWith        200 non-null    object
 11  Salary                    95 non-null     object
 12  FrameworkWorkedWith       116 non-null    object
 13  OperatingSystem           200 non-null    object
 14  Age                       200 non-null    float64
 15  ConvertedSalary           89 non-null     float64
 16  SecondLanguageWorkedWith  200 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 26.7+ KB

In [218]:
salaries_train["FrameworkWorkedWith"].unique()

array(['Spark', 'Angular', nan, '.NET Core', 'TensorFlow', 'React',
       'Node.js', 'Django', 'Spring', 'Torch/PyTorch', 'Hadoop'],
      dtype=object)

In [219]:
salaries_train["FrameworkWorkedWith"].value_counts()

Angular          38
.NET Core        26
Node.js          22
Django            9
React             8
Spring            7
TensorFlow        3
Spark             1
Hadoop            1
Torch/PyTorch     1
Name: FrameworkWorkedWith, dtype: int64

In [222]:
# Number of null values #
len(salaries_train["FrameworkWorkedWith"][salaries_train["FrameworkWorkedWith"].isnull()])

84

In [223]:
# List of LanguageWorkedWith #
salaries_train["LanguageWorkedWith"].unique()

array(['C#', 'JavaScript', 'C++', 'C', 'Assembly', 'Java', 'VBA', 'Swift',
       'Lua', 'Objective-C', 'Go', 'CoffeeScript', 'Groovy', 'HTML',
       'SQL', 'Haskell', 'Clojure', 'Python', 'Scala'], dtype=object)

In [224]:
# List of SecondLanguageWorkedWith #
salaries_train["SecondLanguageWorkedWith"].unique()

array(['Java', 'TypeScript', 'C#', 'PHP', 'C++', 'C', 'Python', 'F#',
       'JavaScript', 'VB.NET', 'HTML', 'Go', 'SQL', 'Swift', 'Ruby',
       'CoffeeScript', 'CSS', 'Matlab', 'Kotlin', 'R', 'Bash/Shell',
       'Objective-C', 'Groovy', 'Perl', 'VBA'], dtype=object)

In programing the FrameworkWorkedWith is related to the LanguageWorkedWith and SecondLanguageWorkedWith:
    
    Angular          --> TypeScript
    .NET Core        --> C#
    Node.js          --> JavaScript
    Django           --> Python
    React            --> JavaScript
    Spring           --> Java
    TensorFlow       --> Python
    Spark            --> Java
    Hadoop           --> Java
    Torch/PyTorch    --> Python

In [221]:
# Show FrameworkWorkedWith,SecondLanguageWorkedWith,LanguageWorkedWith when FrameworkWorkedWith = NaN
salaries_train.loc[salaries_train["FrameworkWorkedWith"].isnull(), ["LanguageWorkedWith","SecondLanguageWorkedWith","FrameworkWorkedWith"]]

    LanguageWorkedWith SecondLanguageWorkedWith FrameworkWorkedWith
3                    C                      PHP                 NaN
6                 Java                   Python                 NaN
10                 VBA                   VB.NET                 NaN
11                 VBA                   VB.NET                 NaN
12               Swift                   VB.NET                 NaN
..                 ...                      ...                 ...
182                 C#               JavaScript                 NaN
186                  C                      C++                 NaN
187         JavaScript                      PHP                 NaN
193               Java               JavaScript                 NaN
199                 C#                      PHP                 NaN

[84 rows x 3 columns]

For TypeScript

In [281]:
# Show FrameworkWorkedWith col when LanguageWorkedWith or SecondLanguageWorkedWit == TypeScript and FrameworkWorkedWith == NaN  #
salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "TypeScript") | (salaries_train["SecondLanguageWorkedWith"] == "TypeScript")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"]

102    NaN
Name: FrameworkWorkedWith, dtype: object

In [282]:
# Broadcasting "TypeScript" to NaN that meet the condition # 
salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "TypeScript") | (salaries_train["SecondLanguageWorkedWith"] == "TypeScript")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"] = "TypeScript"

In [283]:
# Checking for NaN values #
len(salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "TypeScript") | (salaries_train["SecondLanguageWorkedWith"] == "TypeScript")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"])

0

For C#

In [284]:
# Show FrameworkWorkedWith col when LanguageWorkedWith or SecondLanguageWorkedWit == C# and FrameworkWorkedWith == NaN  #
salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "C#") | (salaries_train["SecondLanguageWorkedWith"] == "C#")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"]

22     NaN
27     NaN
37     NaN
38     NaN
43     NaN
51     NaN
52     NaN
65     NaN
78     NaN
79     NaN
82     NaN
83     NaN
95     NaN
110    NaN
132    NaN
133    NaN
134    NaN
154    NaN
157    NaN
158    NaN
170    NaN
171    NaN
177    NaN
182    NaN
199    NaN
Name: FrameworkWorkedWith, dtype: object

In [285]:
# Broadcasting ".NET Core" to NaN that meet the condition # 
salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "C#") | (salaries_train["SecondLanguageWorkedWith"] == "C#")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"] = ".NET Core"

In [286]:
# Number of remaining NaN values #
len(salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "C#") | (salaries_train["SecondLanguageWorkedWith"] == "C#")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"])

0

For JavaScript: 
    
    either Node.js or React

In [287]:
salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "JavaScript") | (salaries_train["SecondLanguageWorkedWith"] == "JavaScript")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"]

19     NaN
20     NaN
28     NaN
29     NaN
30     NaN
41     NaN
57     NaN
59     NaN
70     NaN
72     NaN
73     NaN
74     NaN
107    NaN
117    NaN
118    NaN
131    NaN
145    NaN
156    NaN
169    NaN
172    NaN
175    NaN
187    NaN
193    NaN
Name: FrameworkWorkedWith, dtype: object

In [288]:
# number of NaN values with the condition #
len(salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "JavaScript") | (salaries_train["SecondLanguageWorkedWith"] == "JavaScript")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"])

23

In [244]:
# if the programing languages are JavaScript #
choice = ["Node.js","React"]
random_react_nodejs = np.random.choice(choice, 23)

In [248]:
random_react_nodejs

array(['React', 'React', 'React', 'React', 'Node.js', 'React', 'Node.js',
       'React', 'Node.js', 'React', 'React', 'React', 'React', 'React',
       'React', 'Node.js', 'React', 'Node.js', 'React', 'Node.js',
       'React', 'React', 'Node.js'], dtype='<U7')

In [289]:
# adding array to existing col in dataframe #
salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "JavaScript") | (salaries_train["SecondLanguageWorkedWith"] == "JavaScript")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"] = random_react_nodejs.tolist()

In [290]:
# Cheacking for any NaN values left #
salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "JavaScript") | (salaries_train["SecondLanguageWorkedWith"] == "JavaScript")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"]

Series([], Name: FrameworkWorkedWith, dtype: object)

For Python:
    
    either Django or TensorFlow or Torch/PyTorch

In [291]:
# Show null values where Python is a programing language #
salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "Python") | (salaries_train["SecondLanguageWorkedWith"] == "Python")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"]

6      NaN
40     NaN
140    NaN
148    NaN
Name: FrameworkWorkedWith, dtype: object

In [292]:
# Number of NaN values #
len(salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "Python") | (salaries_train["SecondLanguageWorkedWith"] == "Python")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"])

4

In [257]:
# if the programing languages are Python #
choice = ["Django","TensorFlow","Torch/PyTorch"]
random_Python = np.random.choice(choice, 4)

In [258]:
random_Python

array(['Torch/PyTorch', 'Django', 'Django', 'TensorFlow'], dtype='<U13')

In [293]:
# adding array to existing col in dataframe #
salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "Python") | (salaries_train["SecondLanguageWorkedWith"] == "Python")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"] = random_Python.tolist()

In [294]:
# Number of NaN values #
len(salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "Python") | (salaries_train["SecondLanguageWorkedWith"] == "Python")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"])

0

For Java
    
    either Spring  or Spark or Hadoop

In [295]:
# Show null values where Java is a programing language #
salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "Java") | (salaries_train["SecondLanguageWorkedWith"] == "Java")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"]

61     NaN
62     NaN
91     NaN
92     NaN
93     NaN
96     NaN
114    NaN
137    NaN
Name: FrameworkWorkedWith, dtype: object

In [296]:
# Number of NaN values #
len(salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "Java") | (salaries_train["SecondLanguageWorkedWith"] == "Java")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"])

8

In [265]:
# if the programing languages are Java #
choice = ["Spring", "Spark" ,"Hadoop"]
random_Java = np.random.choice(choice, 8)

In [266]:
random_Java

array(['Spark', 'Spark', 'Spring', 'Spark', 'Hadoop', 'Spark', 'Spark',
       'Hadoop'], dtype='<U6')

In [297]:
# adding array to existing col in dataframe #
salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "Java") | (salaries_train["SecondLanguageWorkedWith"] == "Java")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"] = random_Java.tolist()

In [298]:
# Number of NaN values #
len(salaries_train.loc[((salaries_train["LanguageWorkedWith"] == "Java") | (salaries_train["SecondLanguageWorkedWith"] == "Java")) & (salaries_train["FrameworkWorkedWith"].isnull()), "FrameworkWorkedWith"])

0

In [299]:
len(salaries_train["FrameworkWorkedWith"][salaries_train["FrameworkWorkedWith"].isnull()])

23

In [300]:
# Show FrameworkWorkedWith,SecondLanguageWorkedWith,LanguageWorkedWith when FrameworkWorkedWith = NaN
salaries_train.loc[salaries_train["FrameworkWorkedWith"].isnull(), ["LanguageWorkedWith","SecondLanguageWorkedWith","FrameworkWorkedWith"]]

    LanguageWorkedWith SecondLanguageWorkedWith FrameworkWorkedWith
3                    C                      PHP                 NaN
10                 VBA                   VB.NET                 NaN
11                 VBA                   VB.NET                 NaN
12               Swift                   VB.NET                 NaN
14                   C                      C++                 NaN
58                HTML                      CSS                 NaN
66                   C                      C++                 NaN
67                   C                      C++                 NaN
68                 SQL                      C++                 NaN
88                   C                      C++                 NaN
89               Swift                      C++                 NaN
123              Scala               Bash/Shell                 NaN
124                  C                      C++                 NaN
125               HTML                      CSS                 NaN
146                  C                      C++                 NaN
147                  C                      C++                 NaN
150           Assembly                        C                 NaN
161           Assembly                      C++                 NaN
162           Assembly                      C++                 NaN
163           Assembly                      C++                 NaN
166                  C                      C++                 NaN
168                  C                      C++                 NaN
186                  C                      C++                 NaN

For the remaining Languages, there is no way to know what frame work the user used, so we leave them as not specified

In [301]:
# Broadcast "No_Framework" to the FrameworkWorkedWith where FrameworkWorkedWith = NaN for the remaining entries #
salaries_train.loc[salaries_train["FrameworkWorkedWith"].isnull(), "FrameworkWorkedWith"] = "No_Framework"

In [302]:
# Check for NaN values #
salaries_train.loc[salaries_train["FrameworkWorkedWith"].isnull(), "FrameworkWorkedWith"]

Series([], Name: FrameworkWorkedWith, dtype: object)

In [303]:
salaries_train["FrameworkWorkedWith"].unique()

array(['Spark', 'Angular', 'No_Framework', '.NET Core', 'Torch/PyTorch',
       'TensorFlow', 'React', 'Node.js', 'Django', 'Spring', 'Hadoop',
       'TypeScript'], dtype=object)

In [304]:
salaries_train["FrameworkWorkedWith"].value_counts()

.NET Core        51
Angular          38
Node.js          29
React            24
No_Framework     23
Django           11
Spring            8
Spark             6
TensorFlow        4
Hadoop            3
Torch/PyTorch     2
TypeScript        1
Name: FrameworkWorkedWith, dtype: int64

In [305]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   200 non-null    object
 1   Student                   200 non-null    object
 2   Employment                200 non-null    object
 3   FormalEducation           200 non-null    object
 4   UndergradMajor            200 non-null    object
 5   CompanySize               200 non-null    float64
 6   DevType                   200 non-null    object
 7   YearsCoding               200 non-null    int64
 8   YearsCodingProf           200 non-null    int64
 9   EducationTypes            200 non-null    object
 10  LanguageWorkedWith        200 non-null    object
 11  Salary                    95 non-null     object
 12  FrameworkWorkedWith       200 non-null    object
 13  OperatingSystem           200 non-null    object
 14  Age                       200 non-null    float64
 15  ConvertedSalary           89 non-null     float64
 16  SecondLanguageWorkedWith  200 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 26.7+ KB

**ConvertedSalary**